/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#container {
    -fx-background-color: #38383838;
    -fx-background-image: url("../../Images/screens/test123.jpg");
    -fx-background-position: center center;
}


#loginPage{
    -fx-background-color: #38383838;
    -fx-background-image: url("../../Images/screens/rsz_loginscreen.png");
    -fx-background-position: center center;
}

#gameOver{
    -fx-background-color: #38383838;
    -fx-background-image: url("../../Images/screens/rsz_gameoverscreendef.png");
    -fx-background-position: center center;
}


#dragon{
    -fx-background-image: url("../../Images/boss/dragon.png");
    -fx-background-position: center center;
    -fx-min-width: 286px;
    -fx-min-height: 151px;
}

#configuration{
    -fx-background-color: #38383838;
    -fx-background-image: url("../../Images/screens/rsz_configurationscreen.png");
    -fx-background-position: center center;
}

#settings{
    -fx-background-color: #38383838;
    -fx-background-image: url("../../Images/screens/rsz_settingsscreen.png");
    -fx-background-position: center center;
}

#signUp{
    -fx-background-color: #38383838;
    -fx-background-image: url("../../Images/screens/rsz_signupscreen.png");
    -fx-background-position: center center;
}

#ranking{
    -fx-background-color: #38383838;
    -fx-background-image: url("../../Images/screens/rsz_rankingscreen.png");
    -fx-background-position: center center;
}





#gameOptions {
    -fx-background-color: #38383838;
    -fx-background-image: url("../../Images/screens/rsz_menuwinterwithtitleandsnowdef.png");
    -fx-background-position: center center;
}

#gameScreen{
    -fx-background-color: #38383838;
    -fx-background-image: url("../../Images/screens/rsz_gamescreen.png");
    -fx-background-position: center center;
}

#bowscreen{

    -fx-background-image: url("../../Images/weapons/rsz_arrowandbow.png");
    -fx-background-position: center center;
}

#speedslow{
    -fx-background-image: url("../../Images/followers/speed/rsz_speedslow.png");
    -fx-background-position: center center;
}

#speedmedium{
    -fx-background-image: url("../../Images/followers/speed/rsz_speedmedium.png");
    -fx-background-position: center center;
}

#speedfast{
    -fx-background-image: url("../../Images/followers/speed/rsz_speedfast.png");
    -fx-background-position: center center;
}

#specialAbility10{
    -fx-background-image: url("../../Images/followers/specialAbility/rsz_specialabi10.png");
    -fx-background-position: center center;
}
#specialAbility12{
    -fx-background-image: url("../../Images/followers/specialAbility/rsz_specialabi12.png");
    -fx-background-position: center center;
}
#specialAbility14{
    -fx-background-image: url("../../Images/followers/specialAbility/rsz_specialabi14.png");
    -fx-background-position: center center;
}
#specialAbility16{
    -fx-background-image: url("../../Images/followers/specialAbility/rsz_specialabi16.png");
    -fx-background-position: center center;
}
#specialAbility18{
    -fx-background-image: url("../../Images/followers/specialAbility/rsz_specialabi18.png");
    -fx-background-position: center center;
}
#specialAbility20{
    -fx-background-image: url("../../Images/followers/specialAbility/rsz_specialabi20.png");
    -fx-background-position: center center;
}



#spearscreen{
    -fx-background-image: url("../../Images/weapons/rsz_spear.png");
    -fx-background-position: center center;
}

#crossbowscreen{
    -fx-background-image: url("../../Images/weapons/rsz_crossbow.png");
    -fx-background-position: center center;
}

#spear {
    -fx-background-image: url("../../Images/weapons/spear.png");
    -fx-background-repeat: no-repeat;
    -fx-min-width: 35px;
    -fx-max-height: 5px;
    -fx-background-position: center center;
}

#fire {
    -fx-background-image: url("../../Images/boss/fire.png");
    -fx-background-repeat: no-repeat;
    -fx-min-width: 65px;
    -fx-max-height: 24px;
    -fx-background-position: center center;
}

#arrow {
    -fx-background-image: url("../../Images/weapons/arrow_left.png");
    -fx-background-repeat: no-repeat;
    -fx-min-width: 51px;
    -fx-min-height: 11px;
    -fx-background-position: center center;
}

#bolt{
    -fx-background-image: url("../../Images/weapons/spear.png");
    -fx-background-repeat: no-repeat;
    -fx-min-width: 35px;
    -fx-max-height: 5px;
    -fx-background-position: center center;
}


#UnicornHorn{
    -fx-background-image: url("../../Images/weapons/spear.png");
    -fx-background-repeat: no-repeat;
    -fx-min-width: 35px;
    -fx-max-height: 5px;
    -fx-background-position: center center;
}

#Donkey {
    -fx-background-image: url("../../Images/followers/donkey2.png");
    -fx-background-size: cover;
    -fx-min-width: 25px;
    -fx-min-height: 24px;
    -fx-background-position: center center;
}

#Horse {
    -fx-background-image: url("../../Images/followers/horse7.png");
    -fx-background-size: cover;
    -fx-min-width: 25px;
    -fx-min-height: 17px;
    -fx-background-position: center center;

}

#Unicorn {
    -fx-background-image: url("../../Images/followers/Unicorn.png");
    -fx-background-size: cover;
    -fx-min-width: 25px;
    -fx-min-height: 17px;
    -fx-background-position: center center;
}

#enemy {
    -fx-background-image: url("../../Images/enemy/orc2.png");
    -fx-background-size: cover;
    -fx-min-width: 19px;
    -fx-min-height: 21px;
    -fx-background-position: center center;
}
#powerup {
    -fx-background-image: url("../../Images/powerup/Powerup.png");
    -fx-min-width: 30px;
    -fx-min-height: 27px;
    -fx-background-position: center center;
}

#bomb{
    -fx-background-image: url("../../Images/powerup/bomb.png");
    -fx-min-width: 23px;
    -fx-min-height: 21px;
    -fx-background-position: center center;
}

#blood{
    -fx-background-image: url("../../Images/enemy/Blood.png");
    -fx-min-width: 30px;
    -fx-min-height: 35px;
    -fx-background-position: center center;
}

#characterWithbow {
    -fx-background-image: url("../../Images/character/characterWithArrow.png");
    -fx-min-height: 62px;
    -fx-max-width: 28px;
    -fx-background-position: center center;
}

#characterWithspear {
    -fx-background-image: url("../../Images/character/characterWithSpear.png");
    -fx-min-height: 73px;
    -fx-max-width: 53px;
    -fx-background-position: center center;
}

#characterWithcrossbow {
    -fx-background-image: url("../../Images/character/characterWithBolt.png");
    -fx-min-height: 52px;
    -fx-max-width: 30px;
    -fx-background-position: center center;
}







